// Specific CSS for your home-page
.btn-home {
  padding: 0.7rem 1rem;
  font-size: 1.4rem;
  background-color: #c98b33;
  border-color: #c98b33;
  color: white;
  margin-top: 16px;
  display: inline-block;
  border-radius: 5px;
  transition: 0.2s
}

.btn-home:hover {
  padding: 0.7rem 1rem;
  font-size: 1.4rem;
  background-color: #946728;
  border-color: #946728;
  color: white;
  transition: 0.2s
}

#button-text {
  font-size: 1.8rem;
}
