// Specific CSS for your home-page
.btn-home {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  background-color: #c98b33;
  border-color: #c98b33;
  color: white;
  margin-top: 16px;
  display: inline-block;
  border-radius: 5px;
}
