<div class="footer mt-auto">
  <div class="footer-links">
    <a href="https://github.com/igorRicci" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/igor.ricci/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/igorricci33/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-signature">
    Ígor Ricci - Web Developer
  </div>
</div>
