<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1610890690846-5149750c8634);">
  <h1>The perfect movie list for you</h1>
  <%= link_to new_list_path, class: 'btn-home' do %>
    <p class="m-0" id="button-text"><i class="fas fa-list"></i> Create your list</p>
  <% end %>

</div>
