.footer {
  display: flex;
  align-items: center;
  // margin-top: auto;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #c98b33;
  background-color: #f2f2f2;
  height: 80px;
  padding: 0 0.8rem;
}

.footer a {
  text-decoration: none;
  font-size: 24px;
  color: #424242;
  margin: 0 5px;
}

.footer a:hover {
  color: #1d1d1d;
}
